/* Reset and Command Styles */
*{
    margin:0;
    padding:0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-heading {
    font-size: 5rem;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    margin-bottom: 15rem;
    border-bottom: 0.3rem solid #333;
    text-shadow: 0.2rem 0.2rem 0.5rem #555;
}
/* End of Reset and Command Styles */

/* Section 1 */

.section-1 {
  width: 100%;
  height: 100vh;
  background: url(main-images/background.png);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-1-heading {
    font-size: 6rem;
    font-weight: 700;
    color: #fff;
    background-color: #7C81AD;
    padding: 0 3rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    border-bottom: 0.3rem solid #fff;
    text-shadow: 0.2rem 0.2rem 1 rem #555;
}

#logo-gif {
  width: 500px; 
  height: auto; 
}

.logo-gif {
    width: 25rem;
    height: 25rem;
    object-fit: cover;
    border-radius: 50%;
    border: 0.5rem solid #7C81AD;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0.5rem;
    opacity: 0.9;
}

.section-1-btn {
    font-size: 1.7rem;
    font-weight: 700;
    color: #333;
    background-color: #fff;
    border: 0.3rem solid #333;
    margin-top: 10px;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}
/* End of Section 1 */

/* Navbar */
.navbar-1,
.navbar-2 {
    width: 100%;
    height: 4rem;
    background-color: #7C81AD; 
    box-shadow: 0.2rem 0.2rem 0.rem #555;
    position: absolute;
    z-index: 300;
}

.sticky {
  position: fixed;
  top: 0;
}

.navbar-link {
    font-size: 1.7rem;
    font-weight: 600;
    color: #333;
    margin: 0 3rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    position: relative;
    transition: color 0.2s;
}

.change.navbar-link {
  color: #fff;
}

.navbar-link:hover {
    color: #fff;
}

.navbar-link::before {
    content: "";
    width: 0;
    height: 0.2rem;
    background-color: #fff;
    position: absolute;
    right: -15%;
    bottom: -0.3rem;
    transition: width 0.2s;
}

.change.navbar-link::before {
  width: 130%;
}

.navbar-link:hover::before {
    width: 130%;
}

.navbar-btn {
  width: 8rem;
  padding: 0.7rem;
  margin: 0.3rem;
  border-radius: 3rem;
  border: 0.1rem solid #fff;
  font-size: 1.4rem;
  cursor: pointer;
}

.navbar-btn:nth-child(1) {
  background-color: transparent;
  color: #fff;
}

.navbar-btn:nth-child(2) {
  background-color: #fff;
  color: #262626;
}
/* End of Navbar */

/* Section 2 */
.section-2 {
  width: 100%;
  height: 100%;
  padding: 10rem 0;
  background-color: #eef;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lessons-wrapper {
  width: 80%;
  flex-wrap: wrap;
}

.lesson {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  background-color: #fff;
  box-shadow: 0.3rem 0.3rem 0.5rem #777;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.5s;
  border-radius: 6px;
}

.lesson:hover {
  box-shadow: 1rem 1rem 1rem #777;
  transform: scale(1.03);
}

.lesson-text {
  text-align: center;
  letter-spacing: 0.1rem;
  position: absolute;
  top: -13rem;
  z-index: 10;   /* not sure what this is for */
  transition: top 0.3s;
}

.lesson:hover .lesson-text {
  top: 5rem;
  transition: top 0.3s 0.3s;
}

.lesson-name {
  font-size: 3rem;
  font-weight: 700;
  color: #333;
  text-transform: capitalize;
}

.lesson-technologies {
  font-size: 2.2rem;
  color: #7C81AD;
}

.lesson-img {
  width: 38rem;
  height: auto;
  transition: opacity 0.3s;
}

.lesson:hover .lesson-img {
  opacity: 0.2;
}

.lesson-link {
  font-size: 2rem;
  font-weight: 500;
  color: #333;
  letter-spacing: 0.1rem;
  border: 0.3rem solid #7C81AD;
  padding: 0 1rem;
  background-color: #fff;
  position: absolute;
  bottom: -5rem;
  transition: bottom 0.3s;
}

.lesson:hover .lesson-link {
  bottom: 5rem;
  transition: bottom 0.3s 0.3s;
}
/* End of Section 2 */

/* Section 3 */
.section-3 {
  width: 100%;
  height: 100%;
  padding: 15rem 0 10rem 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress-bars-wrapper {
  margin-bottom: 10rem;
}

.progress-bar {
  width: 60rem;
  height: 3rem;
  background-color: #ccc;
  margin: 1.5rem 0;
  border-radius: 0.3rem;
  box-shadow: 0.2rem 0.2rem 1rem #555;
  position: relative;
}

.progress-text {
  position: absolute;
  left: 1rem;
  font-size: 1.5rem;
  color: #fff;
}

.progress-text span {
  margin: 0 0.5rem;
  font-size: 1.8rem;
  font-weight: 700;
}

.progress-percent {
  width: 0;
  height: 100%;
  background-color: #7C81AD;
  border-radius: 0.3rem;
  transition: width 0.5s 0.5s ease-in-out;
}

.services {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.service {
  text-align: center;
}

.service:first-child,
.service:last-child {
  align-self: flex-start;
}

.service i {
  font-size: 10rem;
  color: #888;
  margin-bottom: 2rem;
  text-shadow: 0.1rem 0.1rem 0.5rem #555;
}

.service h2 {
  font-size: 2rem;
  color: #fff;
  background-color: #777;
  width: 25rem;
  letter-spacing: 0.3rem;
  transform: skew(-10deg);
  box-shadow: 0.2rem 0.2rem 0.5rem #555;
}
/* End of Section 3 */

/* Section 4 */
.section-4 {
  width: 100%;
  height: 70vh;
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.section-4-heading {
  color: #fff;
  box-shadow: none;
  border-color: #fff;
  margin-bottom: 5rem;
}

.contact-form {
  width: 50rem;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  background-color: #eef;
  font-size: 1.5rem;
  border: 0.4rem solid #7C81AD;
  color: #555;
}

.contact-form textarea {
  height: 10rem;
  max-height: 15rem;
  max-width: 100%;
}

.contact-form .contact-form-btn {
  background-color: #7C81AD;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1rem;
  cursor: pointer;
}
/* End of Section 4 */

/* Section 5 */
.section-5 {
  width: 100%;
  height: 30vh;
  background-color: #222;
  flex-direction: column;
}

.social-media {
  margin-bottom: 5rem;
}

.social-media-link {
  margin: 0 2rem;
  padding: 0.7rem;
  background-color: #7C81AD;
  border-radius: 0.5rem;
  display: inline-block;
}

.social-media-link i {
  font-size: 3rem;
  color: #fff;
}

.copyright {
  color: #aaa;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  font-weight: 300;
  text-align: center;
}
/* End of Section 5 */

/* Login Page */
.login-page {
  width: 100%;
  height: 100vh;
  position: relative;
  display: none;
}

.login-page-content {
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.1rem solid #cfcfcf;
  padding: 3rem;
}

.logo-img:hover {
  cursor: pointer;
}

.login-page-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-page-form input {
  width: 37rem;
  height: 4.5rem;
  margin: 1rem;
  border-radius: 0.5rem;
}

.form-login-input {
  padding: 0 1.5rem;
  border: 0.1rem solid #777;
  font-size: 1.6rem;
}

.form-login-btn {
  background-color: #7C81AD;
  color: #fff;
  border: 0.1rem solid #7C81AD;
  font-size: 1.8rem;
  font-weight: 600;
  cursor: pointer;
}

.form-login-link {
  font-size: 1.6rem;
  color: #229fe7;
  margin: 1.2rem 0 1rem 0;
}

.login-page-form span {
  width: 2rem;
  font-size: 1.8rem;
  color: #888;
  margin: 1rem 0;
  position: relative;
}

.login-page-form span::before {
  content: "";
  width: 16rem;
  height: 0.1rem;
  background-color: #ccc;
  position: absolute;
  top: 50%;
  right: 3.5rem;
  transform: translateY(-50%);
}

.login-page-form span::after {
  content: "";
  width: 16rem;
  height: 0.1rem;
  background-color: #ccc;
  position: absolute;
  top: 50%;
  left: 3.5rem;
  transform: translateY(-50%);
}

.form-signup-btn {
  background-color: #dbe8ec;
  border: 0.1rem solid #dbe8ec;
  font-size: 1.8rem;
  font-weight: 600;
  cursor: pointer;
}
/* End of Login Page */

/* Sign Up Page */
.signup-page {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    to bottom,
    rgba(112, 112, 112, 0.9),
    rgba(255, 255, 255, 0.8) 10%
  );
  display: none;
  flex-direction: column;
  align-items: center;
}

.signup-page-top {
  width: 120rem;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}

.signup-page-top button {
  width: 8rem;
  padding: 0.7rem;
  background-color: transparent;
  border: 0.1rem solid #fff;
  border-radius: 3rem;
  font-size: 1.3rem;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

.signup-page-content {
  width: 120rem;
  display: flex;
  justify-content: space-between;
}

.signup-page-content-left {
  width: 60%;
  border-right: 0.1rem solid #b1b1b1;
  padding: 3rem 3rem 3rem 0;
}

.content-left-images {
  display: flex;
  margin-bottom: 5rem;
}

.blue-btn {
  width: 35rem;
  height: 5rem;
  background-color: #7C81AD;
  color: #fff;
  border-radius: 3rem;
  border: none;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
}

.content-left-images img {
  width: 18rem;
  border-radius: 50%;
  border: 1.5rem solid #ccc;
  margin-right: 5rem;
}

.signup-page-content-left h1 {
  font-size: 4rem;
  font-weight: 300;
  color: #333;
  line-height: 1.1;
}

.signup-page-content-right {
  width: 40%;
  padding: 3rem 0 3rem 3rem;
  color: #555;
}

.signup-page-content-right h3 {
  font-size: 2.4rem;
  font-weight: 300;
}

.signup-page-content-right h4 {
  font-size: 1.6rem;
  font-weight: 500;
}

.input-group {
  display: flex;
  margin: 1.5rem;
}

.option h3 {
  font-size: 1.7rem;
  font-weight: 600;
}

.option p {
  font-size: 1.5rem;
}

.input-group input[type="radio"] {
  width: 30%;
  height: 2rem;
  margin: 0.5rem 1rem 0 -1.5rem;
}
/* End of Sign Up Page */

/* Responsive */
@media (max-width: 1300px) {
  .section-1 {
    background: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.3)
    ),
    url(images/background.png) center;
  }
  .signup-page {
    background: linear-gradient(
      to bottom,
      rgba(112, 112, 112, 0.9),
      rgba(255, 255, 255, 0.8) 12%
    );
  }
}
@media (max-width: 1200px) {
  .services {
    height: auto;
    flex-wrap: wrap;
  }

  .service {
    margin: 3rem 2rem;
  }

  .section-4 {
    height: 80vh;
  }
  .signup-page-top {
    width: 90rem;
  }

  .signup-page-content {
    width: 90rem;
    flex-direction: column;
    align-items: center;
  }

  .signup-page-content-left {
    width: 100%;
    border-right: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-bottom: 0.1rem solid #b1b1b1;
  }

  .signup-page-content-right {
    width: 100%;
    padding: 3rem;
  }

  .input-group input[type="radio"] {
    width: 10%;
    margin: 0.5rem 0 0 -3rem;
  }

  .signup-page-content-right .blue-btn {
    width: 100%;
    margin: 3rem 0;
  }
}

@media (max-width: 800px) {
  #logo-gif {
    width: 80%;
    height: auto; 
  }
  
  .section-1-heading {
    font-size: 4rem;
  }

  .lesson-technologies {
    font-size: 1.3rem;
  }

  .progress-bar {
    width: 50rem;
  }
  .signup-page-top {
    width: 50rem;
  }

  .signup-page-content {
    width: 85%;
    padding: 0 3rem;
  }

  .signup-page-content-left {
    width: 100%;
    padding: 3rem;
  }

  .content-left-images img {
    width: 14rem;
    margin: 0 1.5rem;
    border: 1rem solid #ccc;
  }

  .signup-page-content-left h1 {
    font-size: 3rem;
  }

  .signup-page-content-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
  }

  .input-group input[type="radio"] {
    width: 20%;
    margin: 0.5rem 1.5rem 0 0;
  }
}

@media (max-width: 600px) {
  .section-1-heading {
    font-size: 3rem;
  }

  .navbar-link {
    margin: 0 2rem;
    font-size: 1.5rem;
  }

  .section-2 {
    padding: 10rem;
  }

  .section-2-heading {
    margin-bottom: 10rem;
  }

  .progress-bar {
    width: 45rem;
  }

  .lesson-img {
    width: 100%;
  }

  .contact-form {
    width: 40rem;
  }

  .copyright {
    width: 70%;
  }
}

@media (max-width: 550px) {
  html {
    font-size: 55%;
  }
  .signup-page-top {
    width: 40rem;
  }

  .signup-page-content {
    width: 100%;
  }

  .signup-page-content-left {
    display: none;
  }

  .signup-page-content-right {
    width: 100%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 45%;
  }

  .section-1-heading {
    font-size: 2.5rem;
  }

  .navbar-link {
    margin: 0 1.5rem;
  }

  .section-2-heading {
    text-align: center;
  }

  .progress-bar {
    width: 40rem;
  }
}
/* End of Responsive */