/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EEEEEE;
    padding-bottom: 60px; 
}

/* CSS styles for burger menu */
.burger-menu {
    display: none;
    background: none;
    text-align: center;
    background-color: #9290C3;
    border-color: #EEEEEE;
    border-radius: 5px;
    font-size: 25px;
    cursor: pointer;
    padding: 10px;
    color: #3a4374;
}

.s-burger-menu {
    display: none;
    background: none;
    text-align: center;
    background-color: #9290C3;
    border-color: #EEEEEE;
    border-radius: 5px;
    font-size: 13px;
    cursor: pointer;
    padding: 5px;
    color: #3a4374;
}

header, .site-header {
    background-color: #222831;
    color: #EEEEEE;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1, .site-title {
    margin: 0;
    font-size: 32px;
    font-weight: bold;
}

nav {
    background-color: #EEEEEE;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    margin-bottom: 20px;
}

nav ul li a {
    display: block;
    width: auto;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: #9290C3;
    color: #EEEEEE;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #535C91;
}

/* Circular buttons */
nav ul li button, .nav-button, .submit-button button, .button-container button {
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff; /* Blue */
    color: #EEEEEE;
    cursor: pointer;
    transition: background-color 0.3s;
}

nav ul li button:hover, .nav-button:hover, .submit-button button:hover, .button-container button:hover {
    background-color: #0056b3; /* Darker blue */
}

/* Additional styles for icons */
.icon-container {
    text-align: center;
    margin-top: 50px;
}

.icon {
    width: 150px;
    height: 150px;
    display: inline-block;
    margin: 0 40px;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-bottom: 50px;
}

.icon:hover {
    transform: scale(1.1);
}

.icon img {
    max-width: 200px;
    max-height: 200px;
    margin-top: 30px;
}

.icon-link {
    text-decoration: none;
    color: #222831;
    font-weight: bold;
    font-size: 22px;
    display: block;
    margin-top: 10px;
    text-align: end;
}

/* Additional styles for small icons */
.s-icon-container {
    text-align: center;
    margin-top: 10px;
}

.s-icon {
    width: 200px;
    height: auto;
    display: inline-block;
    margin: 0 10px; /* Adjust spacing between images */
    margin-bottom: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-bottom: 20px;
}

.s-icon:hover {
    transform: scale(1.1);
}

.s-icon img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.s-icon-link {
    text-decoration: none;
    color: #222831;
    font-weight: bold;
    font-size: 18px;
    display: block;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #EEEEEE;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.label {
    background-color: lightgreen;
}

/* Styles for the div section in plain text */
.section {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

h3 {
    color: #666;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}


.search-input, .goto-input, .goto-button, .word-counter, .word-properties, .navigation-buttons {
    margin-bottom: 15px;
}

.goto-section {
    display: flex;
    align-items: center;
}

.goto-input {
    flex: 1;
    margin-right: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.goto-button {
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff; /* Blue */
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.goto-button:hover {
    background-color: #0056b3; /* Darker blue */
}

footer {
    background-color: #31363F;
    color: #fff;
    text-align: center;
    padding: 0px; 
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

/* Search bar styling */
#searchInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Style for search results */
#searchResults {
    max-height: 200px;
    overflow-y: auto; /* Add scroll if there are too many results */
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-top: 5px;
}

.searchResult {
    padding: 8px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-results {
    max-height: 100px;
    overflow-y: auto;
    display: contents; 
    margin-top: 10px;
}

.searchResult:nth-child(even) {
    background-color: #FAE7F3; /* Lighter background color for even rows */
}

.searchResult:nth-child(odd) {
    background-color: #E6B9DE; /* Darker background color for odd rows */
}

.searchResult:hover {
    background-color: #C2D9FF;
}

/* Question styles */
.question-d {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

/* Options styles */
.options-d input[type="radio"] {
    display: none;
}

.options-d label {
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

.options-d label:hover {
    background-color: #e0e0e0;
}

.options-d input[type="radio"]:checked + label {
    background-color: #333;
    color: #fff;
}

/* Submit button styles */
.submit-button button,
.button-container button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 5px;
}

.submit-button button:hover,
.button-container button:hover {
    background-color: #555;
}

/* Excel Container Styles */
#excel-container {
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#excel-container p {
    font-weight: bold;
    margin-bottom: 10px;
}

#excel-container table {
    width: 100%;
    border-collapse: collapse;
}

#excel-container th, #excel-container td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#excel-container th {
    background-color: #f2f2f2;
}

#excel-container tr:nth-child(even) {
    background-color: #f9f9f9;
}

#excel-container tr:hover {
    background-color: #f2f2f2;
}

@media screen and (max-width: 768px) {
    .burger-menu {
        display: block; /* Show the burger menu button on mobile */
    }
    .s-burger-menu {
        display: block; /* Show the burger menu button on mobile */
    }

    #nav-links {
        display: none; /* Hide the navigation links by default on mobile */
    }

    #nav-links.active {
        display: block; /* Show the navigation links when active */
    }
    footer {
        display: none;
    }
    .container {
        padding-top: 0px; 
    }
    .header {
        margin: 0;
        padding: 0;
    }
    .icon img {
        max-width: 180px;
        max-height: 180px;
        margin-top: 20px;
    }
    .body {
        margin: 0;
        padding: 0;
        padding-bottom: 20px; 
    }
}
