/* CSS styles for index.html */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav {
    background-color: #f4f4f4;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    margin-bottom: 20px;
}

nav ul li a {
    display: block;
    width: auto;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #4CAF50; /* Green */
    color: white;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #45a049; /* Darker green */
}

/* Circular buttons */
nav ul li button {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    background-color: #4CAF50; /* Green */
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

nav ul li button:hover {
    background-color: #45a049; /* Darker green */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-input,
.goto-input,
.goto-button,
.word-counter,
.word-properties,
.navigation-buttons {
    margin-bottom: 15px;
}

.search-results {
    max-height: 100px;
    overflow-y: auto;
}

.goto-section {
    display: flex;
    align-items: center;
}

.goto-input {
    flex: 1;
    margin-right: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.goto-button {
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.goto-button:hover {
    background-color: #0056b3;
}

.nav-button {
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.nav-button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Search bar styling */
#searchInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Style for search results */
#searchResults {
    max-height: 200px;
    overflow-y: auto; /* Add scroll if there are too many results */
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-top: 5px;
}

.searchResult {
    padding: 8px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.searchResult:hover {
    background-color: #f0f0f0;
}

.search-results {
    display: contents; 
    margin-top: 10px;
}

/* Question styles */
.question-d {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}


/* Options styles */
.options-d input[type="radio"] {
    display: none;
}

.options-d label {
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

.options-d label:hover {
    background-color: #e0e0e0;
}

.options-d input[type="radio"]:checked + label {
    background-color: #333;
    color: #fff;
}

/* Submit button styles */
.submit-button button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.submit-button button:hover {
    background-color: #555;
}
