/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EEEEEE;
    padding-bottom: 60px; 
}

header, .site-header {
    background-color: #222831;
    color: #EEEEEE;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1, .site-title {
    margin: 0;
    font-size: 32px;
    font-weight: bold;
}

nav {
    background-color: #EEEEEE;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    margin-bottom: 20px;
}

nav ul li a {
    display: block;
    width: auto;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: #9290C3;
    color: #EEEEEE;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #535C91;
}

#container {
    text-align: center;
    margin-top: 50px;
}

#game {
    display: inline-block;
    
}

.word {
    display: inline-block;
    padding: 8px 20px;
    margin: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.matched {
    background-color: lightgreen;
}

.mismatched {
    background-color: #ffcccc;
}

#nextPageBtn,
#prevPageBtn {
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff; /* Blue */
    color: #EEEEEE;
    cursor: pointer;
    transition: background-color 0.3s;
}

#nextPageBtn:hover,
#prevPageBtn:hover {
    background-color: #0056b3; /* Darker blue */

}

.selected {
    background-color:lightblue;
}

@media screen and (max-width: 768px) {
    /* Adjust margin or padding of elements below the header */
    footer {
        display: none;
    }
    .container {
        padding-top: 0px; 
    }
    .header {
        margin: 0;
        padding: 0;
    }
    .icon img {
        max-width: 180px;
        max-height: 180px;
        margin-top: 20px;
    }
    .body {
        margin: 0;
        padding: 0;
        padding-bottom: 20px; 
    }
}
